body {
    text-align: center;
    background-color: #140C1C;
}

canvas {
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#screen-overlay{
	background-color: black;
	display: block;
	opacity: 0.4;
	margin: auto;
    width: 909px;
    height: 757px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#lives{
	text-align: left;
	color: white;
	font-size: 1.5em;
	margin: 10px 0 -36px 220px;
}

#timer{
	text-align: center;
	color: white;
	font-size: 1.5em;
	margin: 10px 0 -40px;
}

#score{
	text-align: right;
	color: white;
	font-size: 1.5em;
	padding-top: 3px;
	margin: 10px 220px -40px;
}

#start{
	display: block;
	margin: auto;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#start button{
	width: 250px;
	height: 80px;
	text-align: center;
	font-size: 1.4em;
	opacity: 1;
	border: 2px solid #333333;
	box-shadow: 10px 10px 15px black;
	border-radius: 10px;
}